/* Start variables */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}

/* End variables */
/* Start Global Rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.special-heading {
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 70px;
    text-transform: uppercase;
    text-align: center;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 150px;
        height: 2px;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: black;
    }

    &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid black;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%) translateY(50%);
        background-color: white;
    }

    &+p {
        max-width: 550px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 100px;
        line-height: 2;
        color: #777;
    }
}

a.button {
    background-color: var(--main-color);
    display: inline-block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

/* End global rules */
/* Start header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    min-height: 96.09px;
}

header .container::before {
    content: "";
    height: 1px;
    width: calc(100% - 30px);
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: 15px;
}

header nav {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
}

header nav .toggle-menu {
    font-size: 22px;
    color: white;
}

header nav ul {
    display: flex;
}

header nav ul a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 40px 10px;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
}

header nav ul a::before {
    content: "";
    background-color: var(--main-color);
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
}

header nav ul a.active,
header nav ul a:hover {
    color: var(--main-color);
}

header nav ul a.active::before,
header nav ul a:hover::before {
    display: block;
}

header nav .form {
    border-left: 2px solid white;
    height: fit-content;
    padding: 2px 10px;
    margin-left: 30px;
    color: white;
}

header .logo img {
    height: 40px;
}

@media (max-width:767px) {
    header nav ul {
        display: none;
    }

    header nav .toggle-menu:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        /* transform: translateY(100%); */
        width: 100%;
        background-color: rgb(0 0 0 / 50%);

        & a {
            padding: 15px;
        }
    }
}

@media (min-width:768px) {
    header nav .toggle-menu {
        display: none;
    }
}

/* End header */
/* Start landing */
.landing {
    height: 100vh;
    width: 100%;
    background-image: url("../images/owl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.landing .overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgb(0 0 0 / 60%);
}

.landing .text {
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-color: var(--transparent-color);
    padding: 50px;
    display: flex;
    justify-content: flex-end;
}

.landing .text .content {
    max-width: 500px;
}

.landing .content h2 {
    color: white;
    font-size: 32px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: normal;
}

.landing .content p {
    color: white;
    font-size: 14px;
    line-height: 2;
}

.landing .arrows {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.landing .arrows.fa-angle-right {
    right: 30px;
}

.landing .arrows.fa-angle-left {
    left: 30px
}

.landing .bullets {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 4px;
}

.landing .bullets li {
    height: 20px;
    width: 20px;
    border: 1px solid white;
    border-radius: 50%;
}

.landing .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

@media (max-width:767px) {
    .landing .text {
        width: 100%;
    }

    .landing .text .content {
        max-width: 100%;
        text-align: center;
    }

    .landing .arrows {
        display: none;
    }
}

/* End landing */

/* Start services */
.services {
    background-color: white;
    padding: var(--section-padding) 0;
}

.services .items .item {
    display: flex;
    gap: 50px;
    margin-bottom: 40px;
}

.services .items .item h3 {
    color: var(--main-color);
    margin-bottom: 30px;
}

.services .items .item p {
    color: #777;
    line-height: 2;
}

@media (min-width: 768px) {
    .services .items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        gap: 40px;
    }

}

@media (max-width:767px) {
    .services .items .item {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
}

/* End services */
/* Start design */
.design {
    padding: var(--section-padding) 0;
    height: 600px;
    background-image: url("../images/design-features.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.design::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.design .image {
    width: fit-content;
    height: fit-content;
    z-index: 2;
    flex: 1;
    text-align: center;
    position: relative;
    bottom: -150px;
}

.design .text {
    padding: 50px;
    background-color: var(--transparent-color);
    z-index: 2;
    flex: 1;
}

.design .text h2 {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.design .text ul {
    color: white;
}

.design .text ul li {
    padding: 15px 0;
}

.design .text ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}

@media (max-width:767px) {
    .design .image {
        display: none;
    }
}

/* end design */
/* Start Portfolio */
.portfolio {
    padding: var(--section-padding) 0;
}

.portfolio .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio .container ul li {
    display: inline-block;
    padding: 10px;
}

.portfolio .container ul li.active {
    color: white;
    background-color: var(--main-color);
}

.portfolio .photos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* i put it here exceptionally */
.portfolio .photos .button {
    margin: 30px 0;
}

.portfolio .photos .photos-container {
    width: 100%;
    margin-top: 60px;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    row-gap: 5px;
}

.portfolio .photos .card {
    position: relative;
    overflow: hidden;
}

.portfolio .photos .card img {
    width: 100%;
    height: 100%;
    transition: 0.5s 0.1s;
}

.portfolio .photos .card .text {
    transform: translateY(100%);
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: white;
    padding: 20px;
    transition: 0.5s 0.1s;

}

.portfolio .photos .card .text h4 {
    margin-bottom: 10px;
}

.portfolio .photos .card .text p {
    color: var(--main-color);
}

.portfolio .photos .card:hover .text {
    transform: translateY(0);
}

.portfolio .photos .card:hover img {
    transform: rotateZ(5deg) scale(1.1);
}

@media (min-width: 768px) and (max-width:1200px) {
    .portfolio .photos .photos-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* large */
@media (min-width: 1200px) {
    .portfolio .photos .photos-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

/* End Portfolio */